.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    background: var(--black);
    font-size: 1rem;
  
}

.Header a{
    text-decoration: none;
    color: var(--gray);
}

.Header h1 span {
    color: var(--pink)
}

.Header h1{
    padding: 0,25rem 0,5rem;
}