:root{
  --cinza: #EBEBEC; 
  --preta: #272727;
  --rosa: #F06197;
  --verde: #36859F;
}

*{
  margin: 0px;
  padding: 0px;
}

body{
  background:var(--cinza)
}

body, input, textarea, button {
  font-family: sans-serif;
  font-size: 1rem;
}