:root{
  --gray: #EBEBEC; 
  --black: #272727;
  --pink: #F06197;
  --green: #36859F;
}

*{
  margin: 0px;
  padding: 0px;
}

body{
  background:var(--gray)
}

body, input, textarea, button {
  font-family: sans-serif;
  font-size: 1rem;
}